.nav-bar {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 -7px 15px #999999;
  width: 100vw;
  z-index: 1;
}

.nav-menu {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-around;
  border-bottom: none;
  height: 95%;
}

.display-movie-list {
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
}

.display-movie-list .ant-card-body {
  padding: 10px;
}

#favorite-button {
  position: absolute;
  top: 0;
  margin: 5;
}
